################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChuckNorrisQuotesGtk2/bin/*
/ChuckNorrisQuotesGtk2/obj/*
*.suo
*.userprefs